<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="requests">
            <div class="title">
                <h1>Logout HaloChat</h1>
                <button type="button" class="btn btn-cancel" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
            </div>
            <div class="content">
                <form>
                    <div class="form-group">
                        <video autoplay loop width="300" style="-webkit-mask-box-image: url('../../../dist/video/mask.svg'); mask-image: url('');">
                            <source src="../../../dist/video/logout.mp4" type="video/mp4">
                        </video>
                    </div>
                    <button id="btn-logout" onclick="hanldeLogout()" style="width: 6%;" class="btn button w-100">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>